<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rdlc.Properties.Settings.I_LDS_Common_TestConnectionString"
            connectionString=""
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
